@{
    ViewData["Title"] = "Bowlers";
}

@model List<Bowler>

<h1>Bowlers</h1>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <td>First Name</td>
            <td>Middle Initial</td>
            <td>Last Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
            <td>Team Name</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var bowler in Model)
            {
        <tr>
            <td>@bowler.BowlerFirstName</td>
            <td>@bowler.BowlerMiddleInit</td>
            <td>@bowler.BowlerLastName</td>
            <td>@bowler.BowlerAddress</td>
            <td>@bowler.BowlerCity</td>
            <td>@bowler.BowlerState</td>
            <td>@bowler.BowlerZip</td>
            <td>@bowler.BowlerPhoneNumber</td>
            <td><a asp-controller="Home" asp-action="Team" asp-route-teamid="@bowler.TeamId">@bowler.Team.TeamName</a></td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@bowler.BowlerID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@bowler.BowlerID">Delete</a></td>
        </tr>
            }
    </tbody>
</table>